.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
android/.gradle/
android/local.properties
android/key.properties
ios/Pods/
ios/.symlinks/
macos/Pods/
*.jks
*.keystore
.env
